body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.counter {
    display: flex;
    align-items: center;
}

button {
    font-size: 1.5em;
    padding: 10px 20px;
    cursor: pointer;
    color: darkred;
}

#count {
    margin: 0 10px;
    font-size: 1.5em;
}

